.reset_button {
    margin-left: 11px;
}

.msg_div {
    margin-left: 12px;
    margin-right: 15px;
}

.remove_button{
    margin-left: 11px;
}

.reset_button{
    margin-left: 11px;
    float: right;
}

.add_button{
    float: right;
}
.update_cancel{
    margin-left: 11px;
}

.cancel_decorate{
    color: white;
    text-decoration: none;
}
.divider_layout{
    width: 75%;
    margin-left: 8%;
    margin-top: 30px;
}

.required_lable{
    color:red
}

.uploaded_files {
    /* float: right; */
    margin-top: -21px;
}

.search_list{
    width: 11%;
    float: right;

    margin-top: -43px; 
}


.uploaded_search {
    width: 11%;
    float: right;

    margin-top: -3px; 
}
