.search_list{
    width: 11%;
    float: right;

    margin-top: -43px; 
}

.add_employee_button{
    margin-right: -47px; 
    float: right;
    margin-right: 12%;
    margin-top: -41px;
}

.button_style{
    color:white;
    text-decoration: none
}

.button_style:hover{
    color:white;
    text-decoration: none
}

.add_brnach{
    display: flex;
}